@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
html {
  height: 100%; }

body {
  font-family: "Poppins", sans-serif;
  background: #212121;
  height: 100%; }

.bold {
  font-weight: bold; }

.body .banner-image-container {
  width: 100%;
  height: 400px;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff; }
  .body .banner-image-container .chart {
    height: 400px;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: .75vw;
    transition: all 1s; }
  .body .banner-image-container [class*="bar"] {
    background-color: #000;
    transition: all 1s; }
  .body .banner-image-container [class*="bar-a"] {
    grid-row: 1 / 101;
    transition: all 1s; }
  .body .banner-image-container .bar-b1 {
    grid-row: 1 / 13; }
  .body .banner-image-container .bar-b2 {
    grid-row: 50 / 101; }
  .body .banner-image-container .bar-c1 {
    grid-row: 1 / 43; }
  .body .banner-image-container .bar-c2 {
    grid-row: 63 / 101; }
  .body .banner-image-container .bar-d1 {
    grid-row: 1 / 60; }
  .body .banner-image-container .bar-d2 {
    grid-row: 90 / 101; }
  .body .banner-image-container .bar-e1 {
    grid-row: 1 / 50; }
  .body .banner-image-container .bar-e2 {
    grid-row: 82 / 101; }
  .body .banner-image-container .bar-f1 {
    grid-row: 1 / 40; }
  .body .banner-image-container .bar-f2 {
    grid-row: 60 / 101; }
