@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
html {
  height: 100%; }

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  height: 100%;
  margin: 0; }

.bold {
  font-weight: bold; }

.chart-container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff; }
  .chart-container .chart {
    height: 90vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: .75vw;
    transition: all 1s; }
  .chart-container [class*="bar"] {
    background-color: #000;
    transition: all 1s; }
  .chart-container [class*="bar-a"] {
    grid-row: 1 / 101;
    transition: all 1s; }
  .chart-container .bar-b1 {
    grid-row: 1 / 13; }
  .chart-container .bar-b2 {
    grid-row: 50 / 101; }
  .chart-container .bar-c1 {
    grid-row: 1 / 43; }
  .chart-container .bar-c2 {
    grid-row: 63 / 101; }
  .chart-container .bar-d1 {
    grid-row: 1 / 60; }
  .chart-container .bar-d2 {
    grid-row: 90 / 101; }
  .chart-container .bar-e1 {
    grid-row: 1 / 50; }
  .chart-container .bar-e2 {
    grid-row: 82 / 101; }
  .chart-container .bar-f1 {
    grid-row: 1 / 40; }
  .chart-container .bar-f2 {
    grid-row: 60 / 101; }
