@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

$lightBlue: #03adee;
$orange: #EE7E03;
$darkBlue: #0175A1;
$mono: 'Anonymous Pro';
$sans-serif: 'Poppins';


html {
  height: 100%
}

body {
  font-family: $sans-serif, sans-serif;
  // background: #212121;
  background: #fff;
  height: 100%;
  margin: 0;
}

.bold {
  font-weight: bold;
}



  .chart-container {
    max-width: 1600px;
    margin: 0 auto;
  
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    .chart {

      height: 90vh;
      width: 80vw;



      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(100, 1fr);
      grid-column-gap: .75vw;

      transition: all 1s;
      
    }

    [class*="bar"] {
      background-color: #000;
      transition: all 1s;
    }

    [class*="bar-a"] { grid-row: 1 / 101; transition: all 1s;}
    
    .bar-b1 { grid-row: 1 / 13; } .bar-b2 { grid-row: 50 / 101; }
    .bar-c1 { grid-row: 1 / 43; } .bar-c2 {  grid-row: 63 / 101; }
    .bar-d1 { grid-row: 1 / 60; } .bar-d2 { grid-row: 90 / 101; }
    .bar-e1 { grid-row: 1 / 50; } .bar-e2 { grid-row: 82 / 101; }
    .bar-f1 { grid-row: 1 / 40; } .bar-f2 { grid-row: 60 / 101; }
}

// @media only screen and (max-width: 620px) {
//   .responsive-logo {
//     width: 392px;
//     height: auto;
//   }
// }


// @media only screen and (max-width: 520px) {
//   .responsive-logo {
//     width: 292px;
//     height: auto;
//   }
// }

// @media only screen and (max-width: 420px) {
//   .responsive-logo {
//     width: 192px;
//     height: auto;
//   }
// }

